<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>Shop-Hub</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/examples/offcanvas-navbar/offcanvas-navbar.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/scripts/initializers/payment.js" type="module"></script>
</head>

<body class="bg-body-tertiary d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid justify-content-end">
        <a class="navbar-brand text-primary" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart3"
                 viewBox="0 0 15 20">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
            </svg>
            Shop-Hub</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Shop</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li th:each="category: ${categories}"><a class="dropdown-item" href="#"
                                                                 th:text="${category.name}"
                                                                 th:href="'/product/categories/' + ${category.name}"></a>
                        </li>
                    </ul>
                </li>
                <li th:if="${#authorization.expression('hasRole(''SELLER'')')}" class="nav-item">
                    <a class="nav-link" th:href="@{/product/create/new}" href="#">Sell</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/cart}" href="#">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <form class="d-flex justify-content-end mx-3" action="#" th:action="@{/search}" method="GET">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="d-flex justify-content-end mx-2">
                <a class="btn btn-small btn-info" th:href="@{/login}" sec:authorize="isAnonymous()">Login</a>
                <div class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <button class="dropdown-toggle btn btn-small btn-info" id="accountDropdown"
                            role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="accountDropdown">
                        <div class="dropdown-item">
                            <a class="btn btn-small" href="/account">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                     class="bi bi-info-circle" viewBox="0 0 15 20">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                                </svg>
                                Info</a>
                        </div>
                        <div class="dropdown-item">
                            <a class="btn btn-small" href="/cart">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                     class="bi bi-cart3" viewBox="0 0 15 20">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                </svg>
                                Cart</a>
                        </div>
                        <div class="dropdown-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                            <a class="btn btn-small" href="/management">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                     class="bi bi-person-gear" viewBox="0 0 15 16">
                                    <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
                                </svg>
                                Management</a>
                        </div>
                        <hr class="dropdown-divider">
                        <form th:action="@{/logout}" method="post">
                            <div class="dropdown-item">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                     class="bi bi-box-arrow-right" viewBox="0 0 15 16">
                                    <path fill-rule="evenodd"
                                          d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                                    <path fill-rule="evenodd"
                                          d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                                </svg>
                                <input class=" btn btn-small" type="submit" value="Logout"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<main class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
        <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1">
                <span>Payment</span>
            </h1>
        </div>
    </div>
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <div class="col-md-7 col-lg-10">
            <h6 class="border-bottom pb-2 mb-0">Wallet Data</h6>
            <form class="needs-validation">
                <div class="row g-3">
                    <div class="col-2">
                        <label for="walletIdStatic" class="form-label">Id</label>
                        <input type="text" class="form-control" id="walletIdStatic" th:value="${id}" disabled>
                    </div>
                    <div class="col-6">
                        <label for="emailStatic" class="form-label">Email</label>
                        <input type="text" class="form-control" id="emailStatic" placeholder="email@email.com"
                               th:value="${userEmail}" disabled>
                    </div>
                    <div class="col-4">
                        <label for="balanceStatic" class="form-label">Balance</label>
                        <input type="text" class="form-control" id="balanceStatic" th:value="${wallet.balance} + '$'"
                               disabled>
                    </div>
                </div>
                <hr class="my-4">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#uploadWalletModal">
                    Upload money
                </button>
            </form>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="uploadWalletModal" tabindex="-1" aria-labelledby="uploadWalletModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="p-3">
                    Choose amount:
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="amount[]" id="exampleRadios1"
                               value="100">
                        <label class="form-check-label" for="exampleRadios1">100$</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="amount[]" id="exampleRadios2"
                               value="500">
                        <label class="form-check-label" for="exampleRadios2">500$</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="amount[]" id="exampleRadios3"
                               value="1000">
                        <label class="form-check-label" for="exampleRadios3">1000$</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="amount[]" id="exampleRadios4"
                               value="5000">
                        <label class="form-check-label" for="exampleRadios3">5000$</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="uploadWalletButton">
                            Upload
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Your cart</span>
                    <span class="badge bg-primary rounded-pill" th:text="${numberOfItems}"></span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm" th:each="item : ${cartItems}">
                        <div>
                            <a class="link-dark" th:href="'/product/' + ${item.id}" href="#"><h6 class="my-0"
                                                                                                 th:text="${item.name}"></h6>
                            </a>
                            <small class="text-body-secondary" th:text="${item.sellerName}"></small>
                        </div>
                        <span class="text-body-secondary" th:text="'$' + ${item.price}"></span>
                    </li>


                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong th:text="'$' + ${totalPrice}"></strong>
                    </li>
                </ul>

                <form class="card p-2">
                    <div class="input-group">
                        <label for="reedem"></label>
                        <input type="text" id="reedem" class="form-control" placeholder="Promo code">
                        <button type="submit" class="btn btn-secondary">Redeem</button>
                    </div>
                </form>

                <div class="row my-3">
                    <a class="w-50 btn btn-warning" type="button" th:href="@{/cart}">Cart</a>
                    <button class=" w-50 btn btn-primary" form="deliveryForm" type="submit"
                            th:unless="${totalPrice > wallet.balance}">
                        Buy
                    </button>
                </div>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Shipping address</h4>
                <form class="needs-validation" id="deliveryForm" novalidate="" th:action="@{/payment/pay}"
                      th:object="${deliveryAddress}"
                      method="POST">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" th:field="*{firstName}" class="form-control" id="firstName"
                                   placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder=""
                                   value="" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="username" class="form-label">Username</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-person" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                                    </svg>
                                </span>
                                <input type="text" th:field="*{userName}" class="form-control" id="username"
                                       placeholder="Username"
                                       required>
                                <div class="invalid-feedback">
                                    Your username is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Email <span
                                    class="text-body-secondary">(Optional)</span></label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                <input type="email" th:field="*{userEmail}" class="form-control" id="email"
                                       placeholder="you@example.com">
                            </div>
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="phone" class="form-label">Phone</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-telephone-plus" viewBox="0 0 16 16">
                                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                                        <path fill-rule="evenodd"
                                              d="M12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5"/>
                                    </svg>
                                </span>
                                <input type="tel" th:field="*{phoneNumber}" class="form-control" id="phone"
                                       placeholder="+48 000 000 000"
                                       pattern="^(?:\+48)?\s?(?:\d{3}[\s-]?){2}\d{3}$" required>
                            </div>
                            <div class="invalid-feedback">
                                Please enter a valid phone number
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Address</label>
                            <div class="input-group has-validation" id="address">
                                <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-house" viewBox="0 0 16 16">
                                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                                    </svg>
                                </span>
                                <input type="text" th:field="*{street}" id="addressStreet" aria-label="Street"
                                       placeholder="Main St"
                                       class="form-control" required>
                                <input type="text" th:field="*{homeNumber}" id="addressHome" aria-label="Home number"
                                       placeholder="57C"
                                       class="form-control" required>
                            </div>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="col-md-5">
                            <label for="country" class="form-label">Country</label>
                            <select class="form-select" id="country" required th:field="*{country}">
                                <option value="">Choose...</option>
                                <option value="Denmark">Denmark</option>
                                <option value="United States">United States</option>
                                <option value="Germany">Germany</option>
                                <option value="Poland">Poland</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" placeholder="Cracow" required
                                   th:field="*{city}">
                            <div class="invalid-feedback">
                                City required
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="zip" class="form-label">Postal code</label>
                            <input type="text" class="form-control" id="zip" placeholder="00-000" required
                                   th:field="*{postalCode}">
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                </form>
            </div>
        </div>
    </div>

</main>

<footer class="footer-section bg-dark text-white mt-auto">
    <div class="container">
        <div class="row pt-2">
            <div class="col-md-6">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div class="col-md-6 pt-2">
                <h3>Contact Us</h3>
                <p>Email: shophub@gmail.com</p>
                <p>Phone: +1234567890</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
